.footer {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    border-top: 1px solid silver;

    &__inner {
        padding: 12px 24px;
        width: 100%;
        max-width: 1920px;
    }
}