.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;

    &__brand {
        svg {
            width: 42px;
        }
    }
}

.nav-list {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    list-style: none;

    &__link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
}